.logo {
  width: 150px;
}
#header {
  max-width: 100vw;
  width: 100%;
  display: inline-block;
  height: 120px;

  .header-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  nav ul {
    display: flex;
    flex-flow: row nowrap;

    li {
      font-size: 1em;
      font-family: "Manrope", sans-serif;
    }
  }

  .links {
    margin-top: auto;
    margin-bottom: auto;

    li {
      background: rgba(255, 255, 255, 0.7);

      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      a {
        color: $opacity-black;
        padding: 16px 16px 16px 16px;
        display: inline-block;
        transition: 150ms color;
      }
      &:hover a {
        color: $black;
      }
      &.active {
        border-bottom: 3px solid $dark-green;
        a {
          font-weight: 700;
          color: $dark-green;
        }
      }
    }
  }
}

.header__menu-mobile {
  display: none;
}

@media (max-width: ($tablet)) {
  #header {
    background: transparent;
    position: relative;
    top: 0;
    z-index: 10;
  }

  .logo {
    width: 92px;
  }

  .menu {
    width: 28.5px;
    button {
      border: none;
      background: none;
    }
  }

  .links ul {
    display: flex;
    flex-direction: column !important;
    gap: 12px;
    text-align: center;

    li {
      border-radius: 12px;
      background: $white !important;
      a {
        width: 100%;
      }
    }
  }

  .header__menu-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    align-items: center;
  }

  .header__menu__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background: hsla(0, 0%, 0%, 0.9);
  }
  .header__menu__modal--is-open {
    display: flex;
  }

  .menu__close-button {
    border: none;
    font-size: 24px;
    background: $white;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: $green;
  }

  .header__menu__modal--home{

  }
}
