<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ SITENAME }}</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/theme/assets/ico.png" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="{{ SITEURL }}/theme/css/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ SITEURL }}/theme/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px4 px-lg-5">
                <a class="navbar-brand" href="#page-top">
                  <img class="img-fluid-header" src="{{ SITEURL }}/theme/assets/img/logo/logo_topo.png" alt="{{ EVENTNAME }}" />
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link" href="#inscricoes">Inscrições</a></li>
                        <!--
                        <li class="nav-item"><a class="nav-link" href="#keynotes">Keynotes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#local">Local do Evento</a></li>
                        <li class="nav-item"><a class="nav-link" href="#patrocinadores">Patrocinadores</a></li>
                        <li class="nav-item"><a class="nav-link" href="#apoio">Apoio</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://python.org.br/cdc/">Código de Conduta</a></li>
                        -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <!-- <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." /> -->
                        <!-- <div class="col-6"><a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a></div> -->
                        <img class="img-fluid-principal" src="{{ SITEURL }}/theme/assets/img/logo/logo_banner_completo.png" alt=" Logo do evento" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <!-- <p class="text-black normal mb-5">{{ EVENTDATE }}</p> -->
                        <!-- <a class="btn btn-primary btn-xl" href="#about">Find Out More</a> -->
                    </div>
                </div>
            </div>
        </header>

        <section class="page-section" id="sobre">
          <div class="container px-4 px-lg-5">
              <h4 class="text-center mt-0">Sobre</h4>
              <hr class="divider" />
              <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <p class="mb-4">

                      {{  ABOUT }}

                    </p>
                </div>
            </div>
          </div>
      </section>

      <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-12 col-sm-12">
                    <div class="portfolio-box pessoas-box">
                        <div class="portfolio-box-caption">
                            <h4 class="text-white-50">Programação Geral</h4>
                            <hr class="divider divider-light" />
                            <p class="mb-0">
                              <br>
                              <!-- Fique atento. Em breve, disponibilizaremos aqui a programção completa do evento. <br><br></p> -->

                            <a class="btn btn-light btn-xl" href="{{ SITEURL }}/theme/assets/PROGRAMACAO_GERAL.pdf">Programação Completa!</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </div>

      <!--
      <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-12 col-sm-12">
                    <div class="portfolio-box pessoas-box">
                        <div class="portfolio-box-caption">
                          <div class="row gx-4 gx-lg-5 justify-content-center">
                          <div class="col-lg-8 text-left">
                            <h4 class="text-center mt-0">Programação Geral</h4>
                            <hr class="divider divider-light" />
                            <p class="mb-4 text-sm-start">
                              Nosso Congresso terá atividades como palestras,
                              oficinas, minicursos, comunicações orais,
                              encontros, trilhas, mutirão, lançamentos de
                              livros, conferência, mesas redondas nacionais e
                              internacionais, rituais e outras atividades que
                              enriquecerão a formação e conhecimento dos
                              participantes.

                              <br><br>

                              Divulgação da lista de Oficinas e Minicursos: 06 a 09 de maio <br>
                              Inscrições dos participantes nas Oficinas e Minicursos: 09 a 15 de maio <br>
                              Inscição nas demais atividades do Congresso: 15 de abril a 15 de maio <br>

                              <br>

                              Confira a programação completa: <a href="{{ SITEURL }}/theme/assets/programacao.pdf">Programação Completa!</a>

                            </p>
                        </div>
                        </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </div>
      -->

      <section class="page-section" id="inscricoes">
        <div class="container px-4 px-lg-5">
            <h4 class="text-center mt-0">Inscrições</h4>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-lg-8 text-center">
                  <p class="mb-4">

                    <h5 class="text-center mt-0"><i>Inscrições Prorrogadas!!!!!</i></h5>

                    As iscrições para algumas atividades do congresso foram prorrogadas!

                    <br><br>

                    Categorias do Congresso com inscrições prorrogadas até o dia 27/05
                    (Conferir disponibilidade de vagas nas atividades específicas de cada categoria):<br>
                      •	Encontros, Conferências e Sarau<br>
                      •	I Simpósio da Bacia Hidrográfica do Rio Ceará-Mirim<br>
                      •	Trilhas e Mutirões<br>

                    <br><br>

                    Categorias do Congresso com inscrições Encerradas:<br>
                    •	Minicursos e Oficinas<br>
                    •	Comunicações Orais<br>
                    •	I Simulação da ONU do IFRN de Ceará-Mirim<br>

                    <br><br>

                    <s>As inscrições para as atividades gerais, oficinas e minicursos estão abertas até
                    15/05. As atividades estão organizadas ABAIXO em categorias, e os interessados
                    podem se inscrever em várias atividades, oficinas e minicursos, contanto que elas
                    ocorram em horários ou dias diferentes.

                    <br><br>

                    <b>ATENÇÃO! As iscrinções foram prorrogadas até o dia 23/05.</b></s>

                    <br><br>

                    <h5 class="text-center mt-0"><i>Observações Importantes</i></h5>
                    <hr class="divider" />

                    <b>1.</b> O participante que se inscrever em atividades que ocorram em
                    mesmo dia e horário pode ter sua inscrição cancelada, por isso, verifique
                    atentamente se não há choque de horário em suas inscrições.

                    <br><br>
                    
                    <b>2.</b> No ato da Inscrição, as opções "Aluno" e "Servidor" é para
                    público interno com matrícula no IFRN e a opção "Público Externo" é para quem NÃO
                    tem matrícula no IFRN mesmo que seja aluno ou servidor de outra instituição.
                    
                    <br><br><br>

                    <h5 class="text-center mt-0"><i>Encontros, Conferências e Sarau</i></h5>
                    <hr class="divider" />

                    Os Encontros, as Conferências e o Sarau deste evento tem como objetivo dialogar,
                    debater e manifestar os saberes diversos através da arte e da ciência encontradas
                    no cinema, na ancestralidade, na tradição, na astronomia, na educação e política
                    voltados a abertura da vida inerente a sala de aula.

                    <br><br>

                    <a class="btn btn-dark btn-xl" href="https://suap.ifrn.edu.br/eventos/inscricao_publica/3151/">Inscreva-se nos Encontros, Conferências e Sarau</a>

                    <br><br><br>

                    <h5 class="text-center mt-0"><i>I Simpósio da Bacia Hidrográfica do Rio Ceará-Mirim</i></h5>
                    <hr class="divider" />

                    Este Simpósio é destinados à divulgação de experiências e pesquisas que enfatize
                    questões em torno da Bacia Hidrográfica do Rio Ceará-Mirim e se realiza como parte
                    estrutural do I Congresso Nacional de Meio Ambiente em Ceará-Mirim.

                    <br><br>

                    <a class="btn btn-dark btn-xl" href="https://suap.ifrn.edu.br/eventos/inscricao_publica/3147/">Inscreva-se no I Simpósio da Bacia Hidrográfica do Rio Ceará-Mirim</a>  

                    <br><br><br>

                    <h5 class="text-center mt-0"><i>I Simulação da ONU do IFRN de Ceará-Mirim</i></h5>
                    <hr class="divider" />

                    O objetivo da Simulação da ONU é trazer a experiência das reuniões dessa organização
                    para os alunos do ensino médio em geral, fazendo assim, com que esses alunos debatam
                    sobre problemáticas ambientais de repercussões internacionais.

                    <br><br>

                    <a class="btn btn-dark btn-xl" href="https://suap.ifrn.edu.br/eventos/inscricao_publica/3150/">Inscreva-se na I Simulação da ONU do IFRN de Ceará-Mirim</a>  

                    <br><br><br>

                    <h5 class="text-center mt-0"><i>Comunicações Orais</i></h5>
                    <hr class="divider" />

                    Esta modalidade é apenas para quem for submeter proposta de comunicações orais a serem
                    apresentadas no evento. O proponente deve se inscrever neste link e enviar seu trabalho
                    seguindo as demais informações disponíveis no site.

                    <br><br>

                    <a class="btn btn-dark btn-xl" href="{{ SITEURL }}/theme/assets/1_CIRCULAR.pdf">1ª Circular</a> <a class="btn btn-dark btn-xl" href="https://suap.ifrn.edu.br/eventos/inscricao_publica/3157/">Inscreva-se nas Comunicações Orais</a>  

                    <br><br><br>
                    
                    
                    <h5 class="text-center mt-0"><i>Trilhas e Mutirões</i></h5>
                    <hr class="divider" />

                    As trilhas e os Mutirões têm o intuito de fazer uma imersão direto com uma ação ecológica
                    de preservação da fauna e flora da região do evento. Uma trilha noturna, a outra diurna e
                    mutirão de plantio acontecem formalmente pela primeira vez, porém o mutirão é o XI
                    Mutirão Praia Limpa em Jacumã, uma atividade idealizada pelo senhor Juscelino em 2009,
                    cidadão ceará-mirinense, que foi integrada em 2018 na Semana de Meio Ambiente de
                    Ceará-Mirim e, neste ano, tornou-se parte deste Congresso.

                    <br><br>

                    <a class="btn btn-dark btn-xl" href="https://suap.ifrn.edu.br/eventos/inscricao_publica/3158/">Inscreva-se nas Trilhas e Mutirões</a>  

                    <br><br><br>


                    <h5 class="text-center mt-0"><i>Minicursos e Oficinas</i></h5>
                    <hr class="divider" />

                    As Oficinas e Minicursos são atividade práticas com troca de experiência na qual os
                    participantes aplicam o conhecimento adquirido ao final. Participe e se inscreva em uma ou
                    mais oficinas ou minicursos do I Congresso Nacional de Meio Ambiente em Ceará-Mirim.

                    <br><br>

                    <a class="btn btn-dark btn-xl" href="https://suap.ifrn.edu.br/eventos/inscricao_publica/3146/">Inscreva-se nos Minicursos e Oficinas</a>  

                    <br><br><br>
                  </p>
              </div>
          </div>
        </div>
    </section>

    <div id="portfolio">
      <div class="container-fluid p-0">
          <div class="row g-0">
              <div class="col-lg-12 col-sm-12">
                  <div class="portfolio-box pessoas-box">
                      <div class="portfolio-box-caption">
                          <h4 class="text-white-50">Organizadores</h4>
                          <hr class="divider divider-light" />
                          <p class="mb-0">
                            IFRN/Ceará-Mirim -
                            NEABI sistêmico do IFRN - 
                            NEABI do campus Canguaretama do IFRN - 
                            NEABI do campus João Câmara do IFRN - 
                            Campus Verde do IFRN/LAJES -
                            (GRUPECOM) Grupo de Pesquisa e Estudos da Complexidade de Ceará-Mirim/RN -
                            (GRECOM) Grupo de Estudos da Complexidade da UFRN - 
                            (SMEB) Secretaria Municipal de Educação Básica - 
                            (SETMADE) Secretaria Municipal de Meio Ambiente, Turismo e Desenvolvimento Econômico - 
                            Secretaria Municipal de Cultura -
                            (5ª DIREC) Diretoria Estadual de Educação e Cultura -
                            Comitê da Bacia Hidrográfica do Rio Ceará-Mirim -
                            (IDEMA) Instituto de Desenvolvimento Sustentável e Meio Ambiente -
                            (SEIS) Sistema Educacional Interagindo com o Saber -
                            (CSA) Colégio de Santa Águeda -
                            (ABC) Sistema de Ensino ABC - 
                            COPEGAM/TJRN</p>
                      </div>
                    </div>
              </div>
          </div>
      </div>
    </div>
      <!--
      <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Recomendações Importantes</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-person-check fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Vacine-se!</h3>
                        <p class="text-muted mb-0">Acesse site do <a href="https://conectesus-paciente.saude.gov.br/">Conecte SUS</a> e procure uma unidade básica de saúde para atualizar seu cartão de vacina. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-thermometer-sun fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Temperatura</h3>
                        <p class="text-muted mb-0">Manaus é uma cidade úmida, logo durante o mês de Outubro a Temperatura vai em torno de 30° a 38°. Venham com roupas leves!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Código de Conduta</h3>
                        <p class="text-muted mb-0">Fique atento ao <a>código de conduta</a> pois nosso objetivo é criar um ambiente seguro para todas as pessoas </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
  -->

      <!--
        <div id="portfolio">
          <div class="container-fluid p-0">
              <div class="row g-0">
                  <div class="col-lg-12 col-sm-12">
                      <div class="portfolio-box pessoas-box">
                          <img class="img-fluid" src="{{ SITEURL }}/theme/assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                          <div class="portfolio-box-caption">
                              <div class="project-category text-white-50">Category</div>
                              <div class="project-name">Chega de meio-ambiente. Vamos lugar por um inteiro. Sim, é cliché, mas é o que tem para hoje.</div>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>

      -->

      <!--
      <section class="page-section" id="keynotes">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Keynotes</h2>
            <hr class="divider" />
            <h3 class="text-center mt-0">Em breve!</h3>
          </div>
        </div>
      </section>
    -->
<!--
<section class="page-section" id="local">
  <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">Local do Evento</h2>
      <hr class="divider" />
      <div class="row gx-4 gx-lg-5">
          <div class="col-lg-6 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                  <h3 class="h4 mb-2">{{ EVENTLOCAL }}</h3>
                  <p class="text-muted mb-0">{{ EVENTADDRESS }}</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
              <div class="map-responsive">
                <iframe src="{{ EVENTGOOGLEMAPS }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
          </div>
      </div>
  </div>
</section>
-->

<!--
<div id="portfolio">
  <div class="container-fluid p-0">
      <div class="row g-0">
          <div class="col-lg-12 col-sm-12">
              <div class="portfolio-box pessoas-box-2">
                  <div class="portfolio-box-caption">
                      <br>
                      <div class="project-name">Ouça a playlist oficial do evento! </div>
                      <br>
                      <iframe src="https://open.spotify.com/embed/playlist/2tGw74DwRNn8nyKHJWp5EA?utm_source=generator&theme=0" width="80%" height="280" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                      <br>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>
-->

    <!--
    <section class="page-section" id="patrocinadores">
      <div class="container px-4 px-lg-5">
          <h2 class="text-center mt-0">Patrocinadores</h2>
          <hr class="divider" />
          <h3 class="text-center mt-0">Em breve!</h3>
      </div>
    </section>

      <section class="page-section" id="apoio">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Apoio</h2>
            <hr class="divider" />
            <h3 class="text-center mt-0">Em breve!</h3>
        </div>
      </section>
    -->
      <!-- Footer-->
      <footer class="bg-light py-5">
          <div class="container px-4 px-lg-5">
              <div class="small text-center text-muted">{{ FOOTERTEXT }}</div>
<!--
              <br><br>
              <div class="small text-center text-muted"> Créditos: <a href="https://www.behance.net/barbaragnes">Bárbara Agnes</a> (designer da logo)  e <a href="https://github.com/jailsonpj">Jailson Pereira</a> (foto utilizada no banner) </div>
            </div>
-->
        </footer>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
      <!-- SimpleLightbox plugin JS-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
      <!-- Core theme JS-->
      <script src="{{ SITEURL }}/theme/js/scripts.js"></script>
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
      <!-- * *                               SB Forms JS                               * *-->
      <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
      <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
