<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ SITENAME }}</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/theme/assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="{{ SITEURL }}/theme/css/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ SITEURL }}/theme/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">
                  <a class="navbar-brand" href="#page-top">Python Brasil 2022</a>
                  <!-- <img class="img-fluid-header" src="{{ SITEURL }}/theme/assets/img/logo/pythonmao_2.png" alt="Python Brasil Logo" /> -->
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link" href="#keynotes">Keynotes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#local">Local do Evento</a></li>
                        <li class="nav-item"><a class="nav-link" href="#patrocinadores">Patrocinadores</a></li>
                        <li class="nav-item"><a class="nav-link" href="#apoio">Apoio</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://python.org.br/cdc/">Código de Conduta</a></li> 
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <!-- <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." /> -->
                        <!-- <div class="col-6"><a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a></div> -->
                        <img class="img-fluid-principal" src="{{ SITEURL }}/theme/assets/img/logo/pythonmao_1.png" alt="Python Brasil Logo" />
                        <h1 class="text-white font-weight-bold">Python Brasil 2022</h1>
                        <h3 class="text-white font-weight-bold">Manaus - Amazonas</h3>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white normal mb-5">15 a 23 de Outubro 2022</p>
                        <!-- <a class="btn btn-primary btn-xl" href="#about">Find Out More</a> -->
                    </div>
                </div>
            </div>
        </header>

        <section class="page-section" id="about">
          <div class="container px-4 px-lg-5">
              <h2 class="text-center mt-0">Saiba Mais</h2>
              <hr class="divider" />
              <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <hr class="divider divider-light" />
                    <p class="mb-4">
                      
                      A Python Brasil 2022 é a maior conferência sobre linguagem de programação Python do Brasil e da América Latina.
                      
                      <br> <br>

                      Serão 6 dias de imersão onde os participantes poderão contribuir para projetos de software livre, participar de treinamentos e adquirir novos conhecimentos com desenvolvedores renomados da comunidade. A programação está organizada da seguinte forma: Tutoriais (15.10 e 16.10), Palestras e Keynotes(17.10 a 22.10) e Sprints (23.10).
                      
                      <br> <br>

                      A edição de 2022 está sendo organizada pela comunidade Python de Manaus/AM (PyNorte) com o apoio da APyB (Associação Python Brasil).

                    </p>
                     <!-- <a class="btn btn-light btn-xl" href="#services">Get Started!</a>  -->
                </div>
            </div>
          </div>
      </section>

      <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Recomendações Importantes</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-person-check fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Vacine-se!</h3>
                        <p class="text-muted mb-0">Acesse site do <a href="https://conectesus-paciente.saude.gov.br/">Conecte SUS</a> e procure uma unidade básica de saúde para atualizar seu cartão de vacina. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-thermometer-sun fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Temperatura</h3>
                        <p class="text-muted mb-0">Manaus é uma cidade úmida, logo durante o mês de Outubro a Temperatura vai em torno de 30° a 38°. Venham com roupas leves!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Código de Conduta</h3>
                        <p class="text-muted mb-0">Fique atento ao <a>código de conduta</a> pois nosso objetivo é criar um ambiente seguro para todas as pessoas </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <div id="portfolio">
          <div class="container-fluid p-0">
              <div class="row g-0">
                  <div class="col-lg-12 col-sm-12">
                      <div class="portfolio-box pessoas-box">
                          <!-- <img class="img-fluid" src="{{ SITEURL }}/theme/assets/img/portfolio/thumbnails/1.jpg" alt="..." /> -->
                          <div class="portfolio-box-caption">
                              <!-- <div class="project-category text-white-50">Category</div> -->
                              <div class="project-name">Pessoas > Tecnologia</div>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>

      <section class="page-section" id="keynotes">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Keynotes</h2>
            <hr class="divider" />
            <h3 class="text-center mt-0">Em breve!</h3>
          </div>
        </div>
      </section>

<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-12 col-sm-12">
                <div class="portfolio-box pessoas-box">
                    <!-- <img class="img-fluid" src="{{ SITEURL }}/theme/assets/img/portfolio/thumbnails/1.jpg" alt="..." /> -->
                    <div class="portfolio-box-caption">
                        <!-- <div class="project-category text-white-50">Category</div> -->
                        <div class="project-name">Venha conhecer Manaus!</div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<section class="page-section" id="local">
  <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">Local do Evento</h2>
      <hr class="divider" />
      <div class="row gx-4 gx-lg-5">
          <div class="col-lg-6 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                  <h3 class="h4 mb-2">Centro de Convenções do Amazonas Vasco Vasques</h3>
                  <p class="text-muted mb-0">Av. Constantino Nery, 5001 - Flores, Manaus - AM, 69058-795</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.035910506981!2d-60.02982788469693!3d-3.085090941104768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926c1075443ccd8f%3A0x1c983a35228960c1!2sCentro%20de%20Conven%C3%A7%C3%B5es%20do%20Amazonas%20Vasco%20Vasques!5e0!3m2!1spt-BR!2sbr!4v1634191402036!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
          </div>
      </div>
  </div>
</section>


<div id="portfolio">
  <div class="container-fluid p-0">
      <div class="row g-0">
          <div class="col-lg-12 col-sm-12">
              <div class="portfolio-box pessoas-box-2">
                  <!-- <img class="img-fluid" src="{{ SITEURL }}/theme/assets/img/portfolio/thumbnails/1.jpg" alt="..." /> -->
                  <div class="portfolio-box-caption">
                      <!-- <div class="project-category text-white-50">Category</div> -->
                      <div class="project-name">Ouça a <a href="https://open.spotify.com/playlist/2tGw74DwRNn8nyKHJWp5EA?si=0b39b54868d44256">playlist</a> oficial do evento! </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>

    <section class="page-section" id="patrocinadores">
      <div class="container px-4 px-lg-5">
          <h2 class="text-center mt-0">Patrocinadores</h2>
          <hr class="divider" />
          <h3 class="text-center mt-0">Em breve!</h3>
      </div>
    </section>

      <section class="page-section" id="apoio">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Apoio</h2>
            <hr class="divider" />
            <h3 class="text-center mt-0">Em breve!</h3>
        </div>
      </section>

      <!-- Footer-->
      <footer class="bg-light py-5">
          <div class="container px-4 px-lg-5">
              <div class="small text-center text-muted">PythonBrasil is a non-profit volunteer-driven conference for promoting the open-source Python programming language. It is supported by the Brazilian Python Association (APyB) and by the Python Software Foundation (PSF).</div>
              
              <br><br>
              <div class="small text-center text-muted"> Créditos: <a href="https://www.behance.net/barbaragnes">Bárbara Agnes</a> (designer da logo)  e <a href="https://github.com/jailsonpj">Jailson Pereira</a> (foto utilizada no banner) </div>
            </div>
          
        </footer>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
      <!-- SimpleLightbox plugin JS-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
      <!-- Core theme JS-->
      <script src="{{ SITEURL }}/theme/js/scripts.js"></script>
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
      <!-- * *                               SB Forms JS                               * *-->
      <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
      <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
