#duty {

  main {
    position: relative;
    padding-bottom: 190px;

    img.background {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .heading {
    margin: 70px 0;
  }

  ul li,
  p {
    font-size: 20px;
    line-height: 28px;
    color: #3A3A3C;
    font-family: 'Manrope', sans-serif;
  }
  ul li {
    list-style: disc;
    margin-left: 20px;
  }

  .last-update {
    color: #6b7588;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Manrope', sans-serif;
  }
}
