#principal {
    position: absolute;
    top: 30%;
    width: 100%;
    max-width: 100%;
    z-index: 2;
}

#logo_header{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-right: 20px;
}
#logo{
    max-width:280px;
    width:100%;
}


#info{
    max-width: 400px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;

}

#info_logo{
    position:absolute;
    right:18%;
    top:-18%;
}

#contato {
    position: absolute;
    left:0;
    bottom: 0;
    margin-left: 5%;
    top:80%;
}

.wrapper{
    position:relative;
    max-width:300px;
    width:100%;
}

.text_title {
    font-family: 'Proxima Nova Condensed';
    font-style: normal;
    font-weight: 900;
    font-size: 37px;
    line-height: 37px;
    color: var(--strong_green);
}

.text_info {
    font-family: "Manrope Normal";
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 13px;
    color: var(--info_green);
    padding-top: 2%;
}

.text_info b {
    font-family: "Manrope Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 13px;
    color: var(--info_green);
}

.pattern_left{
    position: absolute;
    max-width: 300px;
    width: 100%;
    left:0;
    z-index:1;
}
.pattern_right{
    position: absolute;
    max-width: 300px;
    width: 100%;
    bottom:0;
    right: 0;
    z-index:1;
}
