.navigation {
  height: 10vh;
  display: flex;
  background-color: #4FB765;
  position: relative;
  justify-content: space-between;
  text-transform: uppercase;
  // border-bottom: 2px solid #33333320;
  margin: 0 auto;
  padding: 0 5vw;
  z-index: 2;
  align-self: center;
  @media (max-width: 768px) {
    position: sticky;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
  }
}
