#language-switch {
  margin: 45px;
  font-size: 1em;
  font-family: "Manrope", sans-serif;

  ul {
    display: flex;
    flex-flow: row nowrap;
  }

  li {
    background: #fff;
    padding: inherit;

    button {
      border: none;
      background: none;
      color: $opacity-black;
      transition: 150ms background;
      padding: 5px 7.5px;
    }

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      button {
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
      }
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      button {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }
    &:hover button {
      background: $light-white;
    }

    &.active button {
      color: $full-white;
      font-weight: 800;
      background: $dark-green;
    }
  }
}
