// Colors
$dark-green: #047f4d;
$opacity-green: rgba(147, 208, 172, 0.2);
$green: #27a058;
$light-green: #4fb765;

$black: #3a3a3c;
$opacity-black: rgba(0, 0, 0, 0.54);

$full-white: #ffffff;
$white: #fcf7eb;
$light-white: #dde5e9;

$dark-blue: #269fa2;
$light-blue: #4eb8b4;
