:root {
  // font-size variables
  --h2-size-desktop: calc(48 / 16 * 1rem);
  --h2-size-mobile: calc(40 / 16 * 1rem);
  --h4-size-desktop: calc(28 / 16 * 1rem);
  --h4-size-mobile: calc(16 / 16 * 1rem);
  --p-size-mobile: calc(16 / 16 * 1rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Montserrat:wght@700;900&display=swap");
body {
  background: #fcf7eb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-green;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Manrope", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1134px;
}
